{% extends 'home_base.html' %}
{% from 'macro/form_errors.html' import form_field_errors %}
{% block title %}会员中心{% endblock %}
{% block content %}
    {% include 'components/home_nav.html' %}
    <div class="container" style="margin-top:76px">
        {% include 'components/flash_messages.html' %}
        <div class="row">
            {% include 'components/home_user_menu.html' %}
            <div class="col-md-9">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;会员中心</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="" method="post" enctype="multipart/form-data">
                            {{ form.csrf_token }}
                            <fieldset>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="input_username"><span class="glyphicon glyphicon-user"></span>&nbsp;{{ form.username.label.text }}
                                            </label>
                                            {{ form.username(value=session['user']) }}
                                            {{ form_field_errors(form.username.errors ) }}
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="input_nickname"><span
                                                    class="glyphicon glyphicon-user"></span>&nbsp;{{ form.nickname.label.text }}
                                            </label>
                                            {{ form.nickname(value=user_obj.nickname) }}
                                            {{ form_field_errors(form.nickname.errors ) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="input_email"><span class="glyphicon glyphicon-envelope"></span>&nbsp;{{ form.email.label.text }}
                                            </label>
                                            {{ form.email(value=user_obj.email) }}
                                            {{ form_field_errors(form.email.errors ) }}
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="input_phone"><span
                                                    class="glyphicon glyphicon-phone"></span>&nbsp;{{ form.phone.label.text }}
                                            </label>
                                            {{ form.phone(value=user_obj.phone) }}
                                            {{ form_field_errors(form.phone.errors ) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input_face"><span
                                            class="glyphicon glyphicon-picture"></span>&nbsp;{{ form.avatar.label.text }}
                                    </label>
                                    {{ form.avatar }}
                                    {% if user_obj.avatar %}
                                        <img alt="avatar"
                                             src="{{ url_for('static', filename='uploads/user/avatar/' + user_obj.avatar) }}"
                                             class="img-responsive img-rounded" style="width: 100px;">

                                    {% else %}
                                        <img alt="avatar" data-src="holder.js/100x100"
                                             class="img-responsive img-rounded">
                                    {% endif %}
                                    {{ form_field_errors(form.avatar.errors ) }}
                                </div>
                                <div class="form-group">
                                    <label for="input_info"><span
                                            class="glyphicon glyphicon-edit"></span>&nbsp;{{ form.info.label.text }}
                                    </label>
                                    {{ form.info }}
                                    {{ form_field_errors(form.info.errors ) }}
                                </div>
                                {{ form.submit }}
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(() => {
            $("#m-1").addClass("active");
        })
    </script>
{% endblock %}