{% extends 'home_base.html' %}
{% from 'macro/page_nav.html' import page_nav %}
{% block title %}评论记录{% endblock %}
{% block content %}
    {% include 'components/home_nav.html' %}
    <div class="container" style="margin-top:76px">
        <div class="row">
            {% include 'components/home_user_menu.html' %}
            <div class="col-md-9">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;评论记录</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="commentList">
                            {% for item in page_data.items %}
                                <li class="item cl">
                                    <a href="user.html">
                                        <i class="avatar size-L radius">
                                            <img alt="{{ item.user.username }}" src="{{ url_for('static', filename='uploads/user/avatar/' + item.user.avatar) }}" class="img-circle"
                                                 style="border:1px solid #abcdef; width: 50px; height: 50px;">
                                        </i>
                                    </a>
                                    <div class="comment-main">
                                        <header class="comment-header">
                                            <div class="comment-meta">
                                                <a class="comment-author" href="javascript:;">{{ item.user.username }}</a>
                                                于
                                                <time title="2016-12-07 09:12:51" datetime="2016-12-07 09:12:51">
                                                    {{ item.created_at }}
                                                </time>
                                                评论电影：
                                                <a href="{{ url_for('home.movie_detail', movie_id=item.movie_id, page=1) }}">{{ item.movie.name }}</a>
                                            </div>
                                        </header>
                                        <div class="comment-body">
                                            <p>{{ item.content|safe }}</p>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="col-md-12">
                            {{ page_nav(page_data, 'home.comments') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(() => {
            $("#m-3").addClass("active");
        })
    </script>
{% endblock %}