{% extends 'home_base.html' %}
{% from 'macro/page_nav.html' import page_nav %}
{% block title %}登录日志{% endblock %}
{% block content %}
    {% include 'components/home_nav.html' %}
    <div class="container" style="margin-top:76px">
        <div class="row">
            {% include 'components/home_user_menu.html' %}
            <div class="col-md-9">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;登录日志</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <tr>
                                <td style="width:10%">编号</td>
                                <td style="width:30%">登录时间</td>
                                <td style="width:30%">登录IP</td>
                                <td style="width:30%">登录来源</td>
                            </tr>
                            {% for item in page_data.items %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.created_at }}</td>
                                    <td>{{ item.ip }}</td>
                                    <td>{{ item.ua }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        {{ page_nav(page_data, 'home.login_log') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(() => {
            $("#m-4").addClass("active");
        })
    </script>
{% endblock %}