{% extends 'home_base.html' %}
{% from 'macro/form_errors.html' import form_field_errors %}
{% block title %}修改密码{% endblock %}
{% block content %}
    {% include 'components/home_nav.html' %}
    {% include 'components/flash_messages.html' %}
    <div class="container" style="margin-top:76px">
        <div class="row">
            {% include 'components/home_user_menu.html' %}
            <div class="col-md-9">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;修改密码</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action="">
                            {{ form.csrf_token }}
                            <fieldset>
                                <div class="form-group">
                                    <label for="input_oldpwd"><span
                                            class="glyphicon glyphicon-lock"></span>&nbsp;{{ form.old_pwd.label.text }}
                                    </label>
                                    {{ form.old_pwd }}
                                    {{ form_field_errors(form.old_pwd.errors) }}
                                </div>
                                <div class="form-group">
                                    <label for="input_newpwd"><span
                                            class="glyphicon glyphicon-lock"></span>&nbsp;{{ form.pwd.label.text }}
                                    </label>
                                    {{ form.pwd }}
                                    {{ form_field_errors(form.pwd.errors) }}
                                </div>
                                <div class="form-group">
                                    <label for="input_re_newpwd"><span
                                            class="glyphicon glyphicon-lock"></span>&nbsp;{{ form.re_pwd.label.text }}
                                    </label>
                                    {{ form.re_pwd }}
                                    {{ form_field_errors(form.re_pwd.errors) }}
                                </div>
                                {{ form.submit }}
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(() => {
            $("#m-2").addClass("active");
        })
    </script>
{% endblock %}