<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>热映电影</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='base/css/bootstrap.min.css') }}">
    {#    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/animation/css/style.css') }}">#}
</head>
<body>
<!--轮播图 开始 -->
{#<div class="main_banner">#}
{#    <div class="main_banner_wrap">#}
{#        <canvas id="myCanvas" width="150" height="150"></canvas>#}
{#        <div class="main_banner_box" id="m_box">#}
{#            <a href="javascript:void(0)" class="banner_btn js_pre">#}
{#                <span class="banner_btn_arrow"><i></i></span>#}
{#            </a>#}
{#            <a href="javascript:void(0)" class="banner_btn btn_next js_next">#}
{#                <span class="banner_btn_arrow"><i></i></span>#}
{#            </a>#}
{#            <ul>#}
{#                {% for item in data %}#}
{#                    <li id="imgCard{{ item.id }}">#}
{#                        <a href="javascript:;"><span style="opacity:0;"></span></a>#}
{#                        <img src="{{ url_for('static', filename='uploads/' + item.logo) }}" alt="">#}
{#                        <p style="bottom:0">{{ item.name }}</p>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#            <!--火狐倒影图层-->#}
{#            <p id="rflt"></p>#}
{#            <!--火狐倒影图层-->#}
{#        </div>#}
{#        <!--序列号按钮-->#}
{#        <div class="btn_list">#}
{#            <span class="curr"></span><span></span><span></span><span></span><span></span>#}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}
<!--轮播图 结束 -->


<!-- bootstrap轮播图 开始 -->
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for item in data %}
                <li data-target="#carousel" data-slide-to="{{ item.id - 1 }}"></li>
            {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {% for item in data %}
                <div class="item">
                    <img style="height: 900px;" class="img-responsive center-block"
                         src="{{ url_for('static', filename='uploads/' + item.logo) }}" alt="{{ item.name }}">
                    <div class="carousel-caption" style="background-color: #000; opacity: 0.6;">
                        <h3>{{ item.name }}</h3>
                        <p>{{ item.info|truncate(59, killwords=True, leeway=0) }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
<!-- bootstrap轮播图 结束-->

{#<script type="text/javascript" src="{{ url_for('static', filename='home/animation/js/jquery.js') }}"></script>#}
{#<script type="text/javascript" src="{{ url_for('static', filename='home/animation/js/script.js') }}"></script>#}
<script src="{{ url_for('static',filename='base/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='base/js/bootstrap.min.js') }}"></script>
<script>
    $(document).ready(() => {
        $('.carousel-indicators > li:first-child').toggleClass('active')
        $('.carousel-inner > div:first-child').toggleClass('active')
    })
</script>
</body>
</html>