{% extends 'admin_base.html' %}
{% block css %}
    <style>
        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            text-align: left;
        }

        .td_bd {
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block content %}
    {% include 'components/admin_nav.html' %}
    {% include 'components/admin_aside_menu.html' %}
    <div class="content-wrapper">
        <!--内容-->
        <section class="content-header">
            <h1>微电影管理系统</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 会员管理</a></li>
                <li class="active">查看会员</li>
            </ol>
        </section>
        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">会员详情</h3>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <td class="td_bd">编号：</td>
                                    <td>{{ user_obj.id }}</td>
                                </tr>
                                <tr>
                                    <td class="td_bd">用户名：</td>
                                    <td>{{ user_obj.username }}</td>
                                </tr>
                                <tr>
                                    <td class="td_bd">昵称：</td>
                                    <td>{{ user_obj.nickname }}</td>
                                </tr>
                                <tr>
                                    <td class="td_bd">邮箱：</td>
                                    <td>{{ user_obj.email }}</td>
                                </tr>
                                <tr>
                                    <td class="td_bd">手机：</td>
                                    <td>{{ user_obj.phone }}</td>
                                </tr>
                                <tr>
                                    <td class="td_bd">用户状态：</td>
                                    <td>{{ user_obj.status.value }}</td>
                                </tr>
                                <tr>
                                    <td class="td_bd">头像：</td>
                                    <td>
                                        <img style="height: 100px; width: auto;" src="{{ url_for('static', filename='uploads/user/avatar/' + user_obj.avatar) }}" class="img-responsive" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_bd">注册时间：</td>
                                    <td>
                                        {{ user_obj.created_at }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_bd">最后登录时间：</td>
                                    <td>
                                        {{ user_obj.updated_at }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_bd">唯一标志符：</td>
                                    <td>
                                        {{ user_obj.uuid }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_bd">个性简介：</td>
                                    <td>{{ user_obj.info }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--内容-->
    </div>
{% endblock %}
{% block js %}
    <script>
        $(() => {
            $('#g-5').addClass('active');
            $('#g-5-1').addClass('active');
        })
    </script>
{% endblock %}